# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# PyCharm
.idea/

# macOS
.DS_Store

# Logs
*.log

# Environment variables
.env

# Build
build/
dist/
*.egg-info/
